.outerMost{
    padding-left: 20px;
    padding-bottom: 200px;
    background-color: white

}

.recipeTitle{
    text-align: left;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-weight: bold;
    font-size: 60px;
    width: 100%;
    height: 100%;
    padding-left: 20px;
}

.bodyFormat{
    text-align: left;
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right:200px;
    font-size: 20px;
}

.headerText{
    text-align: left;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-weight: bold;
    font-size: 40px;
    width: 100%;
    height: 100%;
}

.recipeBanner{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 200px;
}

.image {
    position: relative;
    width: 100%;
    height: 150px;
    color: white;
    background: url('../images/BannerMast.png') no-repeat;
    background-size: 100% 100%;
}

.subHeader{
    text-align: left;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: rgb(120,120,120);
    font-weight: bold;
    font-size: 16px;;
}

.mainPadding{
    padding-top: 50px;
  }

/* Mobile responsive styles */
@media (max-width: 768px) {
  .recipeTitle {
    font-size: 28px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .bodyFormat {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 16px;
  }

  .headerText {
    font-size: 24px;
    padding-left: 15px;
  }

  .outerMost {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 100px;
  }

  .subHeader {
    font-size: 14px;
  }

  .image {
    height: 120px;
  }

  .mainPadding {
    padding-top: 70px;
  }
}